* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #191970, #48D1CC);
  font-family: Arial, sans-serif;
  text-align: center;
}

/* IMAGES */
.img-box {
  width: 100%;
  max-width: 380px;
  height: auto;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 5px 20px #000;
}

/* BOXES */
.glow-box {
  width: 100%;
  max-width: 360px;
  margin: 15px auto;
  padding: 20px;
  background: #191970;
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px #000;
}

/* MENU */
.menu {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: white;
  background: #191970;
  padding: 10px 20px;
  border-radius: 10px;
}

/* BUTTON */
button {
  width: 100%;
  max-width: 280px;
  padding: 15px;
  background: #191970;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
}

.info-box{
  width:90%;
  max-width:600px;
  margin: 20px ;
  padding:20px;
  background: #1f1f2f;
  color:#fff;
  border-radius:15px;
  box-shadow:0 0 20px rgba (0,150,255, ;0.4 )
  font-family:Arial,sans-serif;
  transition:0.3s;
}

.itme{
  display:flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 22px;
}
.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table td {
  padding: 12px 10px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.info-table tr:last-child td {
  border-bottom: none;
}

/* تأثير عند المرور */
.info-box:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(0, 150, 255, ;
}

/* متجاوب مع الشاشات الصغيرة */
@media (max-width: 500px) {
  .item {
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
  }

  .info-box {
    padding: 15px;
  }

.info-table td {
    padding: 8px 5px;
    font-size: 16px;
  }
}

.stats-box {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 50px 0;
}

.stat {
  background: #0b0f1a;
  color: white;
  padding: 20px;
  border-radius: 15px;
  width: 150px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 162, 255, 0.4);
  transition: 0.3s;
}

.stat:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(0, 162, 255, 0.7);
}

.stat h2 {
  color: #00bfff;
  font-size: 32px;
}
